/*Essential Fonts*/

@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/FontAwesome/FontAwesome.eot');
  src: url('../fonts/FontAwesome/FontAwesome.eot?#iefix') format('embedded-opentype'),
  url('../fonts/FontAwesome/FontAwesome.woff2') format('woff2'),
  url('../fonts/FontAwesome/FontAwesome.woff') format('woff'),
  url('../fonts/FontAwesome/FontAwesome.ttf') format('truetype'),
  url('../fonts/FontAwesome/FontAwesome.svg#FontAwesome') format('svg');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Light/Roboto-Light.eot');
  src: url('../fonts/Roboto-Light/Roboto-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Roboto-Light/Roboto-Light.woff2') format('woff2'),
  url('../fonts/Roboto-Light/Roboto-Light.woff') format('woff'),
  url('../fonts/Roboto-Light/Roboto-Light.ttf') format('truetype'),
  url('../fonts/Roboto-Light/Roboto-Light.svg#Roboto-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Bebas';
  src: url('../fonts/BebasNeue-Regular/BebasNeueRegular.eot');
  src: url('../fonts/BebasNeue-Regular/BebasNeueRegular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/BebasNeue-Regular/BebasNeueRegular.woff2') format('woff2'),
  url('../fonts/BebasNeue-Regular/BebasNeueRegular.woff') format('woff'),
  url('../fonts/BebasNeue-Regular/BebasNeueRegular.ttf') format('truetype'),
  url('../fonts/BebasNeue-Regular/BebasNeueRegular.svg#BebasNeueRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'Biondi';
  src: url('../fonts/Biondi/Biondi Regular.eot');
  src: url('../fonts/Biondi/Biondi.woff') format('woff'),
  url('../fonts/Biondi/Biondi Regular.woff2') format('woff2'),
  url('../fonts/Biondi/Biondi.ttf') format('truetype'),
  url('../fonts/Biondi/Biondi.svg#Biondi') format('svg'),
  url('../fonts/Biondi/Biondi Regular.eot?#iefix') format('embedded-opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima-Regular';
  src: url('../fonts/ProximaNova-Regular/ProximaNova-Regular.eot');
  src: url('../fonts/ProximaNova-Regular/ProximaNova-Regular.woff') format('woff'),
  url('../fonts/ProximaNova-Regular/ProximaNova-Regular.woff2') format('woff2'),
  url('../fonts/ProximaNova-Regular/ProximaNova-Regular.ttf') format('truetype'),
  url('../fonts/ProximaNova-Regular/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg'),
  url('../fonts/ProximaNova-Regular/ProximaNova-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima-Light';
  src: url('../fonts/ProximaNova-Light/ProximaNova-Light.eot');
  src: url('../fonts/ProximaNova-Light/ProximaNova-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ProximaNova-Light/ProximaNova-Light.woff2') format('woff2'),
  url('../fonts/ProximaNova-Light/ProximaNova-Light.woff') format('woff'),
  url('../fonts/ProximaNova-Light/ProximaNova-Light.ttf') format('truetype'),
  url('../fonts/ProximaNova-Light/ProximaNova-Light.svg#ProximaNova-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}



@font-face {
  font-family: 'Proxima-Medium';
  src: url('../fonts/ProximaNova-Medium/proxima-nova-medium.eot');
  src: url('../fonts/ProximaNova-Medium/ProximaNova-Medium.woff') format('woff'),
  url('../fonts/ProximaNova-Medium/proxima-nova-medium.woff2') format('woff2'),
  url('../fonts/ProximaNova-Medium/ProximaNova-Medium.ttf') format('truetype'),
  url('../fonts/ProximaNova-Medium/ProximaNova-Medium.svg#ProximaNova-Medium') format('svg'),
  url('../fonts/ProximaNova-Medium/proxima-nova-medium.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima-Bold';
  src: url('../fonts/ProximaNova-Bold/ProximaNova-Bold.eot');
  src: url('../fonts/ProximaNova-Bold/ProximaNova-Bold.woff') format('woff'),
  url('../fonts/ProximaNova-Bold/ProximaNova-Bold.woff2') format('woff2'),
  url('../fonts/ProximaNova-Bold/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ProximaNova-Bold/ProximaNova-Bold.ttf') format('truetype'),
  url('../fonts/ProximaNova-Bold/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}




@font-face {
  font-family: 'Proxima-Black';
  src: url('../fonts/ProximaNova-Black/ProximaNova-Black.eot');
  src: url('../fonts/ProximaNova-Black/ProximaNova-Black.woff') format('woff'),
  url('../fonts/ProximaNova-Black/ProximaNova-Black.woff2') format('woff2'),
  url('../fonts/ProximaNova-Black/ProximaNova-Black.ttf') format('truetype'),
  url('../fonts/ProximaNova-Black/ProximaNova-Black.svg#ProximaNova-Black') format('svg'),
  url('../fonts/ProximaNova-Black/ProximaNova-Black.eot?#iefix') format('embedded-opentype');
  font-weight: 900;
  font-style: normal;
}





body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  outline: none;
}

body * {
  font-family: 'Proxima-Regular', sans-serif;
}

ul,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li {
  padding: 0;
  text-decoration: none;
  margin: 0;
  list-style-type: none;
}

img {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrapper {
  height: 100%;
  width: 80%;
  max-width: 1550px;
  margin: auto;
}

.helper{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.8);
  z-index: 20;
}

/*Toggler*/
#hamburger {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;
}

#hamburger span {
  display: block;
  width: 30px;
  height: 4px;
  margin: 6px;
  border-radius: 1px;
  background: #eee;
}

#hamburger span {
  -webkit-transition-property: border-color, -webkit-transform;
  transition-property: border-color, -webkit-transform;
  -o-transition-property: transform, border-color;
  transition-property: transform, border-color;
  transition-property: transform, border-color, -webkit-transform;
  -webkit-transition-duration: 0.25s;
       -o-transition-duration: 0.25s;
          transition-duration: 0.25s;
  -webkit-transition-timing-function: cubic-bezier(0.5, -0.5, 0.5, 1.5);
       -o-transition-timing-function: cubic-bezier(0.5, -0.5, 0.5, 1.5);
          transition-timing-function: cubic-bezier(0.5, -0.5, 0.5, 1.5);
  -webkit-transition-delay: 0s;
       -o-transition-delay: 0s;
          transition-delay: 0s;
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
}

#hamburger.buy span.span-two {
  -webkit-transform: translateX(100px);
      -ms-transform: translateX(100px);
          transform: translateX(100px);
  -webkit-transition: all 0.100s linear;
  -o-transition: all 0.100s linear;
  transition: all 0.100s linear;
  -webkit-transition-delay: 0s;
       -o-transition-delay: 0s;
          transition-delay: 0s;
}

#hamburger.buy span {
  -webkit-transition-delay: 0.125s;
       -o-transition-delay: 0.125s;
          transition-delay: 0.125s;
}

#hamburger.buy span.span-one {
  -webkit-transform: translateY(10px) rotate(135deg);
      -ms-transform: translateY(10px) rotate(135deg);
          transform: translateY(10px) rotate(135deg);
}

#hamburger.buy span.span-three {
  -webkit-transform: translateY(-10px) rotate(-135deg);
      -ms-transform: translateY(-10px) rotate(-135deg);
          transform: translateY(-10px) rotate(-135deg);
}


header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 110px;
  background: rgba(255, 255, 255, 0.9);
  border-top: 2px solid #019583;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 5;
  -webkit-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.10);
          box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.10);
}

header .wrapper .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}


/*Logo*/

header .wrapper .brand a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .wrapper .brand a span {
  display: block;
  text-transform: uppercase;
  font-size: 14px;
  margin-left: 5px;
  color: #000;
  font-family: 'Biondi', sans-serif;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.navigation a {
  font-size: 16px;
  font-family: 'Proxima-Regular', sans-serif;
  margin-right: 15px;
  color: #000;
}

header .wrapper .container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .wrapper .container ul li {
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

/*Contacting*/

.navigation .contacting {
  position: relative;
  top: 20px;
  padding-bottom: 10px;
}
.navigation .contacting a,
.navigation .contacting span{
  font-family: 'Proxima-Bold', sans-serif;
  color: #060606;
}
.navigation .contacting::before {
  position: absolute;
  content: '';
  right: 8px;
  bottom: 0;
  width: 105%;
  height: 1px;
  background: rgba(0, 0, 0, 0.2);
}

.navigation .contacting .consultant {
  position: relative;
  margin-right: 50px;
}

.navigation .contacting .consultant::before {
  position: absolute;
  content: '';
  left: -35px;
  top: -3px;
  background: url('../img/consultant.png') no-repeat center center;
  background-size: contain;
  width: 22px;
  height: 24px;
}

.navigation .contacting .consultant:hover::before {
  -webkit-animation: phone 0.4s linear 1;
          animation: phone 0.4s linear 1;
}

.navigation .contacting .telephone {
  position: relative;
}

.navigation .contacting .telephone::before {
  display: block;
  position: absolute;
  content: '';
  left: -35px;
  top: -2px;
  background: url('../img/phone.png') no-repeat center center;
  background-size: contain;
  width: 20px;
  height: 20px;
}

.navigation .contacting .telephone span {
  position: relative;
  left: -5px;
}

.navigation .contacting .telephone:hover::before {
  -webkit-animation: phone 0.4s linear 1;
          animation: phone 0.4s linear 1;
}

@-webkit-keyframes phone {
  0% {
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
  30% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  40% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  60% {
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
  80% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes phone {
  0% {
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
  30% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  40% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  60% {
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
  80% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

.navigation .contacting .telegram a{
  display: block;
  background: url('../img/telegram.png') no-repeat center center;
  background-size: auto;
  width: 17px;
  height: 17px;
}

.navigation .contacting .facebook a{
  display: block;
  background: url('../img/facebook.png') no-repeat center center;
  background-size: auto;
  width: 10px;
  height: 17px;
}

.navigation .contacting .instagram a{
  display: block;
  background: url('../img/instagram.png') no-repeat center center;
  background-size: auto;
  width: 16px;
  height: 17px;
}

.navigation .contacting .telegram:hover,
.navigation .contacting .facebook:hover,
.navigation .contacting .instagram:hover {
  -webkit-transform: translateY(-5px);
      -ms-transform: translateY(-5px);
          transform: translateY(-5px);
}


/*Nav-menu*/

.navigation .menu a {
  text-transform: uppercase;
  display: block;
  padding: 10px 0;
  margin-right: 25px;
  border-bottom: 2px solid transparent;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  font-family: 'Proxima-Bold', sans-serif;
  color: #060606;
}

.navigation .menu a:hover {
  border-bottom: 2px solid #019583;
}

.navigation .menu li.active a {
  border-bottom: 2px solid #019583;
}

.navigation .menu li:last-child a {
  position: relative;
  display: block;
  width: 14px;
  height: 15px;
  top: 2px;
  margin-right: 15px;
  border: none;
  background: url('../img/search.png') no-repeat center center;
  background-size: contain;
}


/*Carousel*/
#carousel {
  height: 550px;
  position: relative;
  border-bottom: 2px solid #009785;
  overflow: hidden;
}

#carousel img {
  display: block;
  width: 100%;
}

#carousel .caption{
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}

#carousel .caption span{
  display: block;
  font-size: 90px;
  font-family: 'Proxima-Bold' ,sans-serif;
  text-shadow: 3px 3px 5px rgba(0,0,0, 0.41);
}

/*Welcome*/

.section-one {
  background: url('../img/line-bg.png');
  background-repeat: repeat;
}

.section-one .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 50px 0;
  padding-bottom: 70px;
}

.section-one .wrapper h2 {
  position: relative;
  text-transform: uppercase;
  padding-left: 15px;
  font-size: 30px;
  margin-bottom: 20px;
  font-family: 'Proxima-Light', sans-serif;
}

.section-one .wrapper h2::before {
  position: absolute;
  content: '';
  left: 0;
  width: 5px;
  height: 100%;
  background: #009785;
}

.section-one .wrapper h2 span {
  font-family: 'Proxima-Bold', sans-serif;
}

.section-one .wrapper .contact-info {
  width: 50%;
  padding-right: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.section-one .wrapper .contact-info > p{
  font-size: 15px;
  margin-bottom: 30px;
}

.section-one .wrapper .contact-info .group-info{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.section-one .wrapper .contact-info .group-info .info-item{
  width: 50%;
  margin-bottom: 40px;
}

.section-one .wrapper .contact-info .group-info .info-item p {
  position: relative;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 16px;
  font-family: 'Proxima-Bold', sans-serif;
}
.section-one .wrapper .contact-info .group-info .info-item p::before {
  position: absolute;
  content: '';
  width: 25px;
  height: 2px;
  left: 0;
  bottom: -8px;
  background: #009785;
}

.section-one .wrapper .contact-info .group-info .info-item a {
  display: block;
  color: #000;
  margin-bottom: 5px;
}

.section-one .wrapper .contact-info .group-info .info-item .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-one .wrapper .contact-info .group-info .info-item .social a{
  margin-right: 10px;
  margin-bottom: 0;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.section-one .wrapper .contact-info .group-info .info-item .social a:hover{
  -webkit-transform: translateY(-5px);
      -ms-transform: translateY(-5px);
          transform: translateY(-5px);
}
.section-one .wrapper .form {
  width: 50%;
}
.form form {
  width: 80%;
}
.form form .inputs-group {
  display: block;
  position: relative;
  width: 100%;
  overflow: hidden;
}
.form form .inputs-group .icons {
  display: block;
  position: absolute;
  width: 18px;
  height: 19px;
  left: 12px;
  top: 6px;
  z-index: 1;
  background: url('../img/avatar.png') no-repeat;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}
.form form .inputs-group .message {
  width: 20px;
  height: 18px;
  background: url('../img/message.png') no-repeat;
}
.form form .inputs-group .issue {
  width: 23px;
  height: 20px;
  background: url('../img/issue.png') no-repeat;
}

.form form input,
.form form textarea{
  position: relative;
  width: 100%;
  resize: none;
  margin-bottom: 15px;
  border: 1px solid #000000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

.form form input {
  padding: 8px;
  padding-left: 40px;
   -webkit-box-shadow: inset 7px 1px 0px -2px #D4D4D4;
           box-shadow: inset 7px 1px 0px -2px #D4D4D4;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.form form input:focus + .icons{
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
} 
.form form input:focus {
  -webkit-box-shadow: inset 7px 1px 0px -2px teal;
          box-shadow: inset 7px 1px 0px -2px teal;
}

.form form textarea {
  padding: 10px;
  padding-left: 15px;
}

.form form button {
  width: 150px;
  height: 45px;
  font-size: 15px;
  text-transform: uppercase;
  color: #fff;
  background: #009785;
  border: none;
  cursor: pointer;
}

.form form button:hover {
  background: #008273;
}




/*Map Section*/

.section-four {
  position: relative;
  height: 500px;
}

#map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.section-four .wrapper {
  position: relative;
  height: 100%;
  padding: 20px 0;
}

.tooltip {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  margin-left: 10%;
  top: 45%;
  width: 650px;
  background: #fff;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  overflow: hidden;
  -webkit-box-shadow: 1px 4px 7px rgba(0, 0, 0, 0.35);
          box-shadow: 1px 4px 7px rgba(0, 0, 0, 0.35);
}

.tooltip .company-address {
  width: 50%;
  padding: 15px;
  z-index: 1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 100px 70px rgba(255, 255, 255);
          box-shadow: 0px 0px 100px 70px rgba(255, 255, 255);
}

.company-address h3 {
  text-transform: uppercase;
  font-size: 30px;
  margin-bottom: 10px;
  font-family: 'Proxima-Bold', sans-serif;
}

.company-address ul li {
  position: relative;
  margin-bottom: 10px;
  padding-left: 25px;
  
  background-size: auto;
}
.company-address ul li::before {
  position: absolute;
  content: '';
  left: 0;
  width: 20px;
  height: 20px;
}
.company-address ul li:nth-child(1)::before {
  background: url('../img/contact.png') no-repeat 0px 0px;
}
.company-address ul li:nth-child(2)::before {
  background: url('../img/contact.png') no-repeat 0px -30px;
}

.company-address ul li:nth-child(3)::before {
  background: url('../img/contact.png') no-repeat 0px -60px;
}

.company-address ul li:nth-child(4)::before {
  background: url('../img/contact.png') no-repeat 0px -90px;
}

.company-address h3 span {
  color: #009785;
}

.tooltip .blurred {
  position: relative;
  width: 50%;
}

.tooltip .blurred img {
  width: 100%;
  height: 100%;
}

/*Footer*/

.footer .directions {
  background: #009786;
}

.footer .parent-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 60px 0;
}

.footer .parent-row * {
  color: #fff !important;
}

.footer .parent-row .rows:nth-child(1) {
  width: 270px;
}

.footer .parent-row .rows:nth-child(2) {
  width: 250px;
}

.footer .parent-row .rows:nth-child(3) {
  width: 200px;
}

.footer .parent-row .rows:nth-child(4) {
  width: 290px;
}

.footer .parent-row .rows:nth-child(1) a {
  display: inline-block;
  padding: 5px;
  background: #fff;
  margin-bottom: 15px;
}

.footer .parent-row .rows:nth-child(1) p {
  line-height: 20px;
  font-family: 'Proxima-Light', sans-serif;
}

.footer .parent-row .rows > span {
  display: block;
  font-size: 20px;
  margin-bottom: 30px;
  font-family: 'Proxima-Bold', sans-serif;
}

.footer .parent-row .rows .columns {
  position: relative;
  padding-left: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 15px;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  font-family: 'Proxima-Light', sans-serif;
}

.footer .parent-row .rows:nth-child(2) ul .columns::before {
  position: absolute;
  content: '';
  left: 0;
  top: 1px;
  width: 20px;
  height: 20px;
  background: url('../img/address.png') no-repeat;
  -webkit-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.footer .parent-row .rows:nth-child(2) ul .columns:hover::before {
  top: -2px;
}

.footer .parent-row .rows:nth-child(2) ul .columns:nth-child(2)::before {
  background: url('../img/address.png') no-repeat 0px -28px;
}

.footer .parent-row .rows:nth-child(2) ul .columns:nth-child(3)::before {
  background: url('../img/address.png') no-repeat 0px -58px;
}

.footer .parent-row .rows:nth-child(2) ul .columns:nth-child(4)::before {
  background: url('../img/address.png') no-repeat 0px -88px;
}

.footer .parent-row .rows:nth-child(2) ul .columns:nth-child(5)::before {
  background: url('../img/address.png') no-repeat 0px -120px;
}


.footer .parent-row .rows:nth-child(3) .columns::before,
.footer .parent-row .rows:nth-child(4) .columns::before {
  display: block;
  position: absolute;
  content: '';
  left: 0;
  top: 3px;
  width: 12px;
  height: 12px;
  background: url('../img/right-arrow.png') no-repeat;
  background-size: contain;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.footer .parent-row .rows .columns:hover::before {
  left: 3px;
}

/*Copyright*/

.footer .copyright {
  text-align: center;
  background: #021615;
  padding: 20px 0;
}

.footer .copyright p {
  text-align: center;
  color: #fff;
}



/*Mobile View*/

@media screen and (max-width: 576px) {
  
  .helper.shown {
    display: block;
  }
  #hamburger {
    display: block;
  }
  .wrapper {
    width: 95%;
  }
  .section-one .wrapper {
    width: 85% !important;
  }
  
  header {
    height: 70px;
    background: #021615;
    border-top: none;
    border-bottom: 2px solid #009785;
    z-index: 25 !important;
  }
  
   header .container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  
  .brand img{
    -webkit-transform: scale(0.7);
        -ms-transform: scale(0.7);
            transform: scale(0.7);
  }
  
  .brand a span{
    color: #fff !important;
    font-size: 10px !important;
    margin: 0 !important;
  }
  
/*  ToggleNavigation*/
  
  #navigate {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: reverse !important;
        -ms-flex-direction: column-reverse !important;
            flex-direction: column-reverse !important;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    height: 0px;
    top: 100%;
    left: 0px;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    z-index: -1;
    background: -webkit-gradient(linear,left top, right top,from(#021615),color-stop(#063E3B),to(#021615)) !important;
    background: -webkit-linear-gradient(left,#021615,#063E3B,#021615) !important;
    background: -o-linear-gradient(left,#021615,#063E3B,#021615) !important;
    background: linear-gradient(to right,#021615,#063E3B,#021615) !important;
    overflow: hidden;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    background: teal;
  }
  
  #navigate.header-wrapper.opened {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 355px;
  }
  
  .navigation .menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0 !important;
    padding: 0;
  }
  
  .navigation .menu li.active a{
    border-bottom: 1px solid rgba(255,255,255, 0.4);
  }
  .navigation .menu li:first-child a {
    -webkit-box-shadow: inset 1px 3px 3px -2px rgba(0,0,0, 0.6);
            box-shadow: inset 1px 3px 3px -2px rgba(0,0,0, 0.6);
  }
  .navigation .menu li a{
    border-bottom: 1px solid rgba(255,255,255, 0.4);
    padding: 6px 0;
    margin: 0;
    text-align: center;
    color: #fff;
    background: -webkit-gradient(linear,left top, right top,from(#021615),color-stop(#063E3B),to(#021615));
    background: -webkit-linear-gradient(left,#021615,#063E3B,#021615);
    background: -o-linear-gradient(left,#021615,#063E3B,#021615);
    background: linear-gradient(to right,#021615,#063E3B,#021615);
    letter-spacing: 1px;
    text-shadow: 0px 1px 3px rgba(0,0,0,0.4);
  }
  .navigation .menu li a:last-child{
    border-bottom: 1px solid rgba(255,255,255, 0.4);
  }
  .navigation .menu li a:hover{
    border-bottom: 1px solid rgba(255,255,255, 0.4);
    background: -webkit-gradient(linear,left top, right top,from(#021615),color-stop(#08504C),to(#021615));
    background: -webkit-linear-gradient(left,#021615,#08504C,#021615);
    background: -o-linear-gradient(left,#021615,#08504C,#021615);
    background: linear-gradient(to right,#021615,#08504C,#021615);
  }
 
  .navigation .menu .search-button a {
    display: block;
    background: url('../img/search-mobile.png') no-repeat center !important;
    width: 100% !important;
  }
  
  .navigation .contacting {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    top: 0px;
    padding: 6px 0;
  }
  
  .navigation .contacting::before {
    display: none;
  }
  
  .navigation .contacting a {
    color: #fff;
    text-shadow: 0px 1px 3px rgba(0,0,0,0.4);
  }
  .navigation .telephone {
    text-align: center;
    width: 100%;
    margin: 6px 0;
  }
   .navigation .telephone span {
    color: #fff;
  }
  .navigation .contacting .consultant {
    margin: 5px 0;
  }
  .navigation .contacting .consultant::before {
    display: none;
  }

  .navigation .contacting .telephone::before {
    display: none;
  }
 
  
  .navigation .contacting .telegram a {
    background-color: #fff;
    border-radius: 50%;
    padding: 5px;
  }
  .navigation .contacting .facebook a {
    background-color: #fff;
    border-radius: 50%;
    padding: 5px;
    width: 17px;
    height: 17px;
  }
  .navigation .contacting .instagram a {
    background-color: #fff;
    border-radius: 50%;
    padding: 5px;
    width: 17px;
    height: 17px;
  }
  
  /*Carousel*/
  #carousel {
    margin-top: 70px;
  }
  
   #carousel .caption span {
    font-size: 30px;
  }


  /*Welcome*/
  
  .section-one .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 15px 0;
    padding-bottom: 60px;
  }
  
  .section-one .wrapper h2 {
    font-size: 20px;
  }
  
   .section-one .wrapper .contact-info,
  .section-one .wrapper .form {
    width: 100%;
  }
 
 
  .section-one .wrapper .contact-info .group-info .info-item{
    width: 200px !important;
  }
  /*Map Section*/
  .section-four {
    position: inherit;
    height: auto;
  }
  #map {
    position: inherit;
    top: auto;
    left: auto;
    height: 250px !important;
  }
  .section-four .wrapper {
    position: inherit;
    height: auto;
    padding: 20px 0;
  }

  .tooltip {
    display: block;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: inherit;
    margin-left: 0%;
    top: auto;
    width: 100%;
    -webkit-transform: translateY(0%);
        -ms-transform: translateY(0%);
            transform: translateY(0%);
    -webkit-box-shadow: none;
            box-shadow: none;
  }

  .tooltip .company-address {
    width: 100%;
    padding: 15px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-shadow: 0px 0px 100px 70px rgba(255, 255, 255);
            box-shadow: 0px 0px 100px 70px rgba(255, 255, 255);
  }
  .company-address h3 {
    text-align: center;
    font-size: 24px;
  }
  

  
  .tooltip .blurred {
    width: 100%;
    overflow: hidden;
  }

  .tooltip .blurred img {
    display: block;
    width: 100%;
  }

  /*Footer*/
  
  .footer .parent-row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 20px 0;
  }

  .footer .parent-row .rows{
    width: 100% !important;
    max-width: 250px;
    margin: 20px;
  }
  
  .footer .parent-row .rows:nth-child(1) {
    text-align: center;
  }
  .footer .parent-row .rows:nth-child(1) a {
    margin: 15px auto;
  }





  /*Copyright*/
  .footer .copyright {
    padding: 20px;
  }
  
}


/*Tablet View*/

@media screen and (min-width: 577px) and (max-width: 767px) {
  
  .helper.shown {
    display: block;
  }
  #hamburger {
    display: block;
  }
  .wrapper {
    width: 95%;
  }
  .section-one .wrapper {
    width: 85% !important;
  }
  header {
    height: 70px;
    background: #021615;
    border-top: none;
    border-bottom: 2px solid #009785;
    z-index: 25 !important;
  }
  
   header .container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  
  .brand img{
    -webkit-transform: scale(0.7);
        -ms-transform: scale(0.7);
            transform: scale(0.7);
  }
  
  .brand a span{
    color: #fff !important;
    font-size: 10px !important;
    margin: 0 !important;
  }
  
/*  ToggleNavigation*/
  
  #navigate {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: reverse !important;
        -ms-flex-direction: column-reverse !important;
            flex-direction: column-reverse !important;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    height: 0px;
    width: 100%;
    top: 100%;
    left: 0px;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    z-index: -1;
    background: -webkit-gradient(linear,left top, right top,from(#021615),color-stop(#063E3B),to(#021615)) !important;
    background: -webkit-linear-gradient(left,#021615,#063E3B,#021615) !important;
    background: -o-linear-gradient(left,#021615,#063E3B,#021615) !important;
    background: linear-gradient(to right,#021615,#063E3B,#021615) !important;
    overflow: hidden;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    background: teal;
  }
  
  #navigate.header-wrapper.opened {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 355px;
  }
  
  .navigation .menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0 !important;
    padding: 0;
  }
  
  .navigation .menu li.active a{
    border-bottom: 1px solid rgba(255,255,255, 0.4);
  }
  .navigation .menu li:first-child a {
    -webkit-box-shadow: inset 1px 3px 3px -2px rgba(0,0,0, 0.6);
            box-shadow: inset 1px 3px 3px -2px rgba(0,0,0, 0.6);
  }
  .navigation .menu li a{
    border-bottom: 1px solid rgba(255,255,255, 0.4);
    padding: 6px 0;
    margin: 0;
    text-align: center;
    color: #fff;
    background: -webkit-gradient(linear,left top, right top,from(#021615),color-stop(#063E3B),to(#021615));
    background: -webkit-linear-gradient(left,#021615,#063E3B,#021615);
    background: -o-linear-gradient(left,#021615,#063E3B,#021615);
    background: linear-gradient(to right,#021615,#063E3B,#021615);
    letter-spacing: 1px;
    text-shadow: 0px 1px 3px rgba(0,0,0,0.4);
  }
  .navigation .menu li a:last-child{
    border-bottom: 1px solid rgba(255,255,255, 0.4);
  }
  .navigation .menu li a:hover{
    border-bottom: 1px solid rgba(255,255,255, 0.4);
    background: -webkit-gradient(linear,left top, right top,from(#021615),color-stop(#08504C),to(#021615));
    background: -webkit-linear-gradient(left,#021615,#08504C,#021615);
    background: -o-linear-gradient(left,#021615,#08504C,#021615);
    background: linear-gradient(to right,#021615,#08504C,#021615);
  }
 
  .navigation .menu .search-button a {
    display: block;
    background: url('../img/search-mobile.png') no-repeat center !important;
    width: 100% !important;
  }
  
  .navigation .contacting {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    top: 0px;
    left: 0;
    width: 100%;
    padding: 6px 0;
  }
  
  .navigation .contacting::before {
    display: none;
  }
  
  .navigation .contacting a {
    color: #fff;
    text-shadow: 0px 1px 3px rgba(0,0,0,0.4);
  }
  .navigation .telephone {
    text-align: center;
    width: 100%;
    margin: 6px 0;
  }
   .navigation .telephone span {
    color: #fff;
  }
  .navigation .contacting .consultant {
    margin: 5px 0;
  }
  .navigation .contacting .consultant::before {
    display: none;
  }

  .navigation .contacting .telephone::before {
    display: none;
  }
 
  
  .navigation .contacting .telegram a {
    background-color: #fff;
    border-radius: 50%;
    padding: 5px;
  }
  .navigation .contacting .facebook a {
    background-color: #fff;
    border-radius: 50%;
    padding: 5px;
    width: 17px;
    height: 17px;
  }
  .navigation .contacting .instagram a {
    background-color: #fff;
    border-radius: 50%;
    padding: 5px;
    width: 17px;
    height: 17px;
  }
  
  /*Carousel*/
  #carousel {
    margin-top: 70px;
  }

  #carousel .caption span {
    font-size: 60px;
  }

  /*Welcome*/
  
  .section-one .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 15px 0;
    padding-bottom: 60px;
  }
  
  .section-one .wrapper h2 {
    font-size: 26px;
  }
  
   .section-one .wrapper .contact-info,
  .section-one .wrapper .form {
    width: 100%;
  }
  
  
  /*Map Section*/
  .section-four {
    position: inherit;
    height: auto;
  }
  #map {
    position: inherit;
    top: auto;
    left: auto;
    height: 250px !important;
  }
  .section-four .wrapper {
    position: inherit;
    height: auto;
    padding: 20px 0;
  }

  .tooltip {
    position: inherit;
    margin-left: 0%;
    top: auto;
    width: 100%;
    -webkit-transform: translateY(0%);
        -ms-transform: translateY(0%);
            transform: translateY(0%);
    -webkit-box-shadow: none;
            box-shadow: none;
  }

  .tooltip .company-address {
    width: 65%;
    padding: 15px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-shadow: 0px 0px 80px 40px rgba(255, 255, 255);
            box-shadow: 0px 0px 80px 40px rgba(255, 255, 255);
  }
  .company-address h3 {
    text-align: center;
    font-size: 24px;
  } 

  
  .tooltip .blurred {
    width: 35%;
    overflow: hidden;
  }

  .tooltip .blurred img {
    display: block;
    width: 100%;
  }

  /*Footer*/
  
  .footer .parent-row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 20px 0;
  }

  .footer .parent-row .rows{
    width: 45% !important;
    max-width: 250px;
    margin: 10px;
    margin-bottom: 20px;
  }
  
  .footer .parent-row .rows:nth-child(1) a {
    margin: 15px auto;
  }





  /*Copyright*/
  .footer .copyright {
    padding: 20px;
  }
  
}


/*Laptop View*/

@media screen and (min-width: 768px) and (max-width: 991px) {
  
  .helper.shown {
    display: block;
  }
  #hamburger {
    display: block;
  }
  .wrapper {
    width: 90%;
  }
  
  header {
    height: 70px;
    background: #021615;
    border-top: none;
    border-bottom: 2px solid #009785;
    z-index: 25 !important;
  }
  
   header .container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  
  .brand img{
    -webkit-transform: scale(0.7);
        -ms-transform: scale(0.7);
            transform: scale(0.7);
  }
  
  .brand a span{
    color: #fff !important;
    font-size: 10px !important;
    margin: 0 !important;
  }
  
/*  ToggleNavigation*/
  
  #navigate {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: reverse !important;
        -ms-flex-direction: column-reverse !important;
            flex-direction: column-reverse !important;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    height: 100vh;
    width: 350px;
    top: 70px;
    right: -360px;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    z-index: -2;
    background: -webkit-gradient(linear,left top, right top,from(#021615),color-stop(#063E3B),to(#021615)) !important;
    background: -webkit-linear-gradient(left,#021615,#063E3B,#021615) !important;
    background: -o-linear-gradient(left,#021615,#063E3B,#021615) !important;
    background: linear-gradient(to right,#021615,#063E3B,#021615) !important;
    overflow: hidden;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }
  
  #navigate.header-wrapper.opened {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    right: 0;
  }
  
  .navigation .menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0 !important;
    padding: 0;
  }
  
  .navigation .menu li.active a{
    border-bottom: 1px solid rgba(255,255,255, 0.4);
  }
  .navigation .menu li:first-child a {
    -webkit-box-shadow: inset 1px 3px 3px -2px rgba(0,0,0, 0.6);
            box-shadow: inset 1px 3px 3px -2px rgba(0,0,0, 0.6);
  }
  .navigation .menu li a{
    border-bottom: 1px solid rgba(255,255,255, 0.4);
    padding: 6px 0;
    margin: 0;
    text-align: center;
    color: #fff;
    background: -webkit-gradient(linear,left top, right top,from(#021615),color-stop(#063E3B),to(#021615));
    background: -webkit-linear-gradient(left,#021615,#063E3B,#021615);
    background: -o-linear-gradient(left,#021615,#063E3B,#021615);
    background: linear-gradient(to right,#021615,#063E3B,#021615);
    letter-spacing: 1px;
    text-shadow: 0px 1px 3px rgba(0,0,0,0.4);
  }
  .navigation .menu li a:last-child{
    border-bottom: 1px solid rgba(255,255,255, 0.4);
  }
  .navigation .menu li a:hover{
    border-bottom: 1px solid rgba(255,255,255, 0.4);
    background: -webkit-gradient(linear,left top, right top,from(#021615),color-stop(#08504C),to(#021615));
    background: -webkit-linear-gradient(left,#021615,#08504C,#021615);
    background: -o-linear-gradient(left,#021615,#08504C,#021615);
    background: linear-gradient(to right,#021615,#08504C,#021615);
  }
 
  .navigation .menu .search-button a {
    display: block;
    background: url('../img/search-mobile.png') no-repeat center !important;
    width: 100% !important;
  }
  
  .navigation .contacting {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    top: 0px;
    left: 0;
    width: 100%;
    padding: 6px 0;
  }
  
  .navigation .contacting::before {
    display: none;
  }
  
  .navigation .contacting a {
    color: #fff;
    text-shadow: 0px 1px 3px rgba(0,0,0,0.4);
  }
  .navigation .telephone {
    text-align: center;
    width: 100%;
    margin: 6px 0;
  }
   .navigation .telephone span {
    color: #fff;
  }
  .navigation .contacting .consultant {
    margin: 5px 0;
  }
  .navigation .contacting .consultant::before {
    display: none;
  }

  .navigation .contacting .telephone::before {
    display: none;
  }
 
  
  .navigation .contacting .telegram a {
    background-color: #fff;
    border-radius: 50%;
    padding: 5px;
  }
  .navigation .contacting .facebook a {
    background-color: #fff;
    border-radius: 50%;
    padding: 5px;
    width: 17px;
    height: 17px;
  }
  .navigation .contacting .instagram a {
    background-color: #fff;
    border-radius: 50%;
    padding: 5px;
    width: 17px;
    height: 17px;
  }
  
  /*Carousel*/
  #carousel {
    margin-top: 70px;
  }
  
  #carousel .caption span {
    font-size: 70px;
  }

  /*Welcome*/
  
  .section-one .wrapper {
    padding: 15px 0;
    padding-bottom: 50px;
  }
  
  .section-one .wrapper h2 {
    font-size: 26px;
  }


  /*Footer*/
  
  .footer .parent-row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 20px 0;
  }

  .footer .parent-row .rows{
    width: 45% !important;
    max-width: 250px;
    margin: 10px;
    margin-bottom: 20px;
  }
  
  .footer .parent-row .rows:nth-child(1) a {
    margin: 15px auto;
  }


  /*Copyright*/
  .footer .copyright {
    padding: 20px;
  }
  
}


@media (max-width: 1220px) and (min-width: 992px) {
  header .wrapper {
    width: 98%;
  }
}